.skill {
    .title {
        font-size: 24px;
        font-weight: 900;
        color: $primary-color;
    }

    .span {
        font-size: 14px;
        font-weight: 400;
        color: #a5abbb;
        margin-bottom: 40px;
    }
}